.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.item-12 {
  width: 100%;
}

.item-8 {
  width: 67%;
}

.item-6 {
  width: 50%;
}

.item-4 {
  width: 33%;
}

.item-3 {
  width: 25%;
}

.item-2 {
  width: 16%;
}

.item-1 {
  width: 8%;
}

.right {
  display: flex;
  justify-content: flex-end;
}
