.profile-menu-container {
  background-color: #c2c3ff;
  border-radius: 0 0 0 4px;
  color: black;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 3.5em;
  width: 16%;
  min-width: 200px;
  transition: height 0.25s ease-in;
  -webkit-transition: height 0.25s ease-in;
}

.profile-menu-container.active {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -5px 9px 12px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 13px -7px #000000, -5px 9px 12px 5px rgba(0, 0, 0, 0.35);
  height: 140px;
  transition: height 0.25s ease-in;
  -webkit-transition: height 0.25s ease-in;
}

/***************THEME TOGGLE****************/
.toggle {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 50px;
}

.toggle input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: #ccc;
  border-radius: 4px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  margin-left: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slider:before {
  background-color: #ffffff;
  bottom: 3px;
  border-radius: 4px;
  content: '';
  height: 1.2em;
  left: 3px;
  position: absolute;
  width: 1em;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: #191a5e;
}

input:checked + .slider:before {
  transform: translateX(15px);
  -ms-transform: translateX(15px);
  -webkit-transform: translateX(15px);
}
