.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/***************MENU TOGGLE****************/
.header-icon {
  height: 50px !important;
  width: 50px;
}

.header-icon span {
  cursor: pointer;
}

/***************SEARCH BAR****************/
.search-bar {
  align-items: center;
  display: flex;
  min-width: 200px;
  width: 50%;
}

.search-bar input,
.search-bar button {
  border: none;
  height: 2.5em;
}

.search-bar input {
  background-color: #c2c3ff;
  border-radius: 4px 0 0 4px;
  color: #191a5e;
  width: 100%;
}

.search-bar input:focus {
  outline: none !important;
}

.search-bar button {
  display: flex;
  align-items: center;
  background-color: #191a5e;
  border-radius: 0 4px 4px 0;
  color: white;
  cursor: pointer;
}
